@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body{
    background-color: #171717;
    font-family: 'Lato', sans-serif;
}

.mainContainer{
    position: absolute;
    margin-top: 5rem;
    margin-left: 5rem;
}

.counterBox{
    height: 14rem;
    width: 14rem;
    background-color: #F0F0F0;
    border-radius: 15px;
    box-shadow: 9px 9px 16px -2px rgba(0,0,0,0.45);
    -webkit-box-shadow: 9px 9px 16px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 9px 9px 16px -2px rgba(0,0,0,0.45);
    margin: 10px 10px 10px 10px;
}

.counter{
    position: relative;
    font-weight: bolder;
    font-size: 5rem;
    bottom: 4rem;
    left: 1.5rem;

}

.counterDesc{
    position: relative; 
    font-weight: 400;
    font-size: 95%;
    bottom: 9rem;
    left: 2rem;
    margin-right: 30%; 
}

.otherBox{
    height: 25rem;
    width: 25rem;
    background-color: #F0F0F0;
    border-radius: 15px;
    box-shadow: 9px 9px 16px -2px rgba(0,0,0,0.45);
    -webkit-box-shadow: 9px 9px 16px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 9px 9px 16px -2px rgba(0,0,0,0.45);
    margin: 10px 10px 10px 10px;

}

.grid{
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-gap: 20px;
}

.otherTitle{
    position: relative;
    font-weight: bolder;
    font-size: 2.5rem;
    bottom: 1rem;
    left: 2rem;

}

.otherDescAlignment{
    position: relative; 
    position: relative; 
    font-weight: 400;
    font-size: 95%;
    bottom: 2rem;
    left: 2rem;
    margin-right: 25%; 
}

.instance{
  
}

.status{
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.statusLegend{
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.statusLegendContainer{
    height: 20px;
    width: 100px;
    background-color: #595959;
    border-radius: 15px;
    display: inline-block;
    margin-right: 10px;
}


